<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.wtu.kcb">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name=".test.UNCourseActivity">
        </activity>
        <activity android:name=".activity.EditCourseActivity" />
        <activity android:name=".activity.OpenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CourseActivity" />
        <activity android:name=".activity.MainActivity" />

        <provider
            android:name=".db.CourseProvider"
            android:authorities="cn.edu.wtu.kcb.db.CourseProvider"
            android:exported="true" />
    </application>

</manifest>